.Rproj.user
.Rhistory
.RData
.Ruserdata
Allequash/fit_Allequash.rds
BigMuskellunge/fit_BigMuskellunge.rds
Crystal/fit_Crystal.rds
Fish/fit_Fish.rds
Mendota/fit_Mendota.rds
Monona/fit_Monona.rds
Sparkling/fit_Sparkling.rds
Trout/fit_Trout.rds
Wingra/fit_Wingra.rds
odem_lter.zip
